  body {
	background-image: url(../media/background.jpg);
	background-repeat: repeat;
	background-size: cover;
}

nav {
	font-family: 'Arial', sans-serif;
	color: red;
}

h1 {
	font-family: 'Arial', sans-serif;
	color: purple;
	text-align: center;
	font-size: 45px;
	text-decoration: underline;
}

strong {
	font-family: 'Arial', sans-serif;
	color: blue;
	text-align: center;
	font-size: 30px;
	text-decoration: underline;
}

p {
	font-size: 19px;
	color: white;
}

h2 {
	font-size: 40px;
	color: white;
	text-decoration: underline;
}

iframe {
	height: 750px;
	width: 50%;
}


} 


#wrapper {
	width: 850px;
	height: 600px;
	background-color: #d4e4ef;
	margin:0 auto;
	overflow: hidden;
}
#canvas {
	width: 700px;
	height: 500px;
	background-color: steelblue;
	margin: 30px auto;
}

.container{
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
#header-container{
	position: relative;
}
#my-name{
	font-size: 30px;
	font-family: 'Arial', cursive;
	padding-left: 10px;
	float: right;
	
}

#my-name a{
	text-decoration:none;
	color: black;
	padding: 4px;
	display: block;
}
#main-navbar{
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d4e4ef+0,86aecc+100;Grey+Gloss */
  background: #d4e4ef; /* Old browsers */
  background: -moz-linear-gradient(top,  #d4e4ef 0%, #86aecc 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #d4e4ef 0%,#86aecc 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #d4e4ef 0%,#86aecc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc',GradientType=0 ); /* IE6-9 */
  overflow: hidden;
}
#navbar-container{
	width: 100%;
	position: relative;
	text-align: center;
}
#main-navbar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: top;
}
#main-navbar ul li{
	float: left;
}
#main-navbar ul li a{
	display: block;
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}
#main-navbar ul li a:hover{
	background-color: grey;
}
#main-navbar #onpage{
	text-decoration: underline;
}
#content-wrapper{
background-color: purple;
padding: 5px;
}

footer{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d4e4ef+0,86aecc+93 */
  background: #d4e4ef; /* Old browsers */
  background: -moz-linear-gradient(top,  #d4e4ef 0%, #86aecc 93%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #d4e4ef 0%,#86aecc 93%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #d4e4ef 0%,#86aecc 93%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc',GradientType=0 ); /* IE6-9 */

  height: 80px; 
  line-height: 13px;
  clear: both;
  padding-top: 15px;
  padding-bottom: 20px;
  font-size: 14px;
  text-align: center;

}

#main-content{
	box-sizing: border-box;
	width: 648px;
	float: left;
	text-align: justify;
}
#link{
	font-size:0.8em;
	margin-top: 45px;
}
#sidebar{
	box-sizing: border-box;
	width: 250px;
	position: relative;
	float: left;
	margin-top: 9.6%;
	margin-left: 3%;
	margin-bottom: 0;
	font-size: 0.95em;	
}



iframe{
	width: 100%;
}
#img1{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
#img2{
  height: 400px;
  object-fit: cover;
  width: 100%;
}

#content-wrapper3{
  background-color: #f9f9f9;
  padding: 5px;
}


@media screen and (min-width: 400px){
  img{
    width: 75%;
  }
  #img1 {
    width: 75%;
    height: auto;
  }
  #img2{
    width: 75%;
    height: auto;
  }
  #img3{
	  width: 75%;
  }
  iframe{
    width: 75%;
	height: 60%;
  }
  #skiing{
    box-sizing: border-box;
    }
  #personal-growth{
    box-sizing: border-box;
  }

}

@media screen and (min-width: 900px){
  img{
    width: 100%;
  }
   #img1 {
    width: 100%;
    height: auto;
  }
  #img2{
    height: 600px;
    object-fit: cover;
    width: 100%;
  }
  iframe{
    width: 100%;
    height: 550px;
  }
  #content-wrapper3{
	font-size: 20px;
	font-family: Times, serif;
  }
  #my-name{
  font-size: 40px;
  }
  #main-navbar ul li a{
	  font-size: 22px;
  }
  
}